<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <p>{{body}}</p>
    <div class="button-container">
      <button class="btn btn-primary" *ngIf="showOKButton" (click)="confirm()">OK</button>
      <button class="btn btn-outline-secondary" *ngIf="showCancelButton" (click)="close()">Cancel</button>
    </div>
</div>
<div class="modal-footer">
</div>
