<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Finished Quests</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <p> Here are quests you have completed</p>
    <ul *ngFor="let quest of playerService.finishedQuests">
        <li>{{quest.name}}</li>
    </ul>
</div>
<div class="modal-footer">
</div>

