.button-list {
    & button {
        display: block;
        margin-top: 10px;
    }
}

.section {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    width: 100%;
}

ul > li {
    display: inline-block;
    margin-right: 10px;
}