<div>
  <h1>Adventurer Quest</h1>
  <p>It is a nice day in the village of Goldshire!</p>
  <div *ngIf="timeService.eventProcessed" class="section">
    <div>Previously: {{getEventName()}}</div>
    <div>Completed on: {{timeService.eventFinish | date: 'short'}}</div>
    <div>{{eventResult}}</div>
  </div>
  <p *ngIf="!isEventRunning && !timeService.eventProcessed">What shall you do?</p>
  <div class="section">
    <div><strong>{{playerService.name}}</strong>'s Stats:</div>
    <span>HP: {{playerService.hp}}/{{playerService.maxHP}} | </span>
    <span>eLvl: {{playerService.exp}} | </span>
    <span>Attack: {{playerService.attack}} | </span>
    <span>Defense: {{playerService.defense}} | </span>
    <span>Rest: {{playerService.rest}} | </span>
    <span>Hunger: {{ 100 - playerService.hunger}} | </span>
    <span>Silver: {{playerService.silver}}</span>
    <div>Items: </div>
    <ul>
      <li *ngFor="let item of playerService.items">
        <button class="btn btn-outline-primary" (click)="processItem(item)">{{item.name}}</button>
      </li>
    </ul>
  </div>
  <div class="section" class="button-list" *ngIf="!isEventRunning">
    <button class="btn btn-primary" (click)="processEvent('Eat', 1)">Eat a Meal (1 Hr)</button>
    <button class="btn btn-primary" (click)="processEvent('Talk', 1)">Talk to Townfolk (1 Hr)</button>
    <button class="btn btn-primary" (click)="processEvent('Sleep', 8)">Sleep (8 Hr)</button>
    <button class="btn btn-primary" (click)="displayQuestChooser()">Go on a Quest (18 Hr)</button>
    <button class="btn btn-secondary" (click)="displayQuestLog()">See Finished Quests </button>

  </div>
  <div class="section" *ngIf="isEventRunning || !timeService.eventProcessed">
    <div>Currently: {{getEventName()}}</div>
    <div>Completion: {{timeService.eventFinish | date: 'short'}}</div>
  </div>
</div>
