<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select a Quest</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <p> Please choose a quest you want to go on.</p>
      <div *ngFor="let quest of playerService.availableQuests">
        <button class="btn btn-primary" datqa-dismiss="modal" (click)="startQuest(quest)" *ngIf="!quest.hasFinished">{{quest.name}} ({{getQuestDifficulty(quest)}}) <span *ngIf="quest.hasFinished">*</span></button>
      </div>
  </div>
  <div class="modal-footer">
  </div>

